spring:
    profiles:
        active:
        - dev
---
server:
    port: 8201

spring:
    profiles: dev
    application:
        name: springcloudTotal-config-client

eureka:
    client:
        service-url:
            defaultZone: http://www.springeureka01.com:7001/eureka,http://www.springeureka02.com:7002/eureka,http://www.springeureka03.com:7003/eureka
guotao:
  msg: ---------
---
server:
    port: 8202

spring:
    profiles: test
    application:
        name: springcloudTotal-config-client

eureka:
    client:
        service-url:
            defaultZone: http://www.springeureka01.com:7001/eureka,http://www.springeureka02.com:7002/eureka,http://www.springeureka03.com:7003/eureka   
#UTF8格式保存
